[submodule "ios/countly_flutter_np/Sources/countly_flutter_np/countly-sdk-ios"]
	path = ios/countly_flutter_np/Sources/countly_flutter_np/countly-sdk-ios
	url = https://github.com/Countly/countly-sdk-ios.git
