<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ly.count.dart.countly_flutter">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="${applicationId}.CountlyPush.BROADCAST_PERMISSION" />
    <permission android:name="${applicationId}.CountlyPush.BROADCAST_PERMISSION"
        android:protectionLevel="signature" />
    <application>
        <service android:name="ly.count.dart.countly_flutter.CountlyMessagingService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name="ly.count.android.sdk.ReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
